@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100;300;400;500;700&display=swap');

body {

    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(187, 151, 157);
    padding: 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    background-color: #f0d1d1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Kalnia Glaze', sans-serif;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: calc(50% - 40px); /* Ajuste a largura conforme necessário */
    vertical-align: top;
    text-align: center;
}

.card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.card p, .card ul {
    text-align: left;
    margin: 0;
    padding: 0;

}

.card ul {
    list-style-type: disc;
    padding-left: 20px;
    
}

.card ul li {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }
}
